@{
    ViewData["Title"] = "Edit Contact";
}


<div class="text-center">

    <h1 class="display-4">Edit Contact</h1>
</div>

<form>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Enter name" />
    </div>
    <br />
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" placeholder="Enter email">
    </div>
    <br />
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" placeholder="Enter phone" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-lg">Edit</button>
    <a class="btn btn-secondary btn-lg" role="button" asp-controller="Contact" asp-action="Index">Back</a>
</form>